<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Getting Started with Backbone.js</title>
</head>
<body>
    <h2>Hello Labs!</h2>
    <script data-main="/js/labs-0.0.1.js" src="/js/libraries/requirejs/require.js"></script>
</body>
</html>