{{#extend "layout"}}

    {{#append "head"}}
        <head>
            <title>Labs | {{action}}</title>
            <meta charset="utf-8"></meta>
            <link href="css/common.css" rel="stylesheet" type="text/css" />
            {{#block "extraCss"}}{{/block}}
            <link rel="shortcut icon" href="/img/favicon.ico" />
        </head>
    {{/append}}
    
    {{#append "body"}}
        <div id="header" class="header">
            {{#block "header"}}{{/block}}
        </div>
        <div id="content" class="content">
            {{#block "content"}}{{/block}}
        </div>
        <div id="footer" class="footer">
            {{#block "footer"}}{{/block}}
        </div>
    {{/append}}
    
    {{#append "scripts"}}
        {{#if debug}}
            <script type="text/javascript" data-main="js/app.js" src="js/libraries/requirejs/require.js"></script>
        {{else}}
            <script type="text/javascript" src="js/labs-0.0.1.js"></script>
        {{/if}}
    {{/append}}
    
{{/extend}}