{{#extend "master"}}
    
    {{#append "header"}}
         <h2>Home | {{title}}</h2>
    {{/append}}

    {{#append "content"}}
         <p>Home | Content</p>
    {{/append}}
    
    {{#append "footer"}}
         <p>Home | Footer</p>
    {{/append}}
    
{{/extend}}